

<p>
  <strong>Jenis transaksi:</strong>
  <%= deposit.jenis_transaksi %>
</p>

<p>
  <strong>Nama penyetor:</strong>
  <%= deposit.nama_penyetor %>
</p>

<p>
  <strong>Id penyetor:</strong>
  <%= deposit.id_penyetor %>
</p>

<p>
  <strong>Alamat penyetor:</strong>
  <%= deposit.alamat_penyetor %>
</p>

<p>
  <strong>No telp penyetor:</strong>
  <%= deposit.no_telp_penyetor %>
</p>

<p>
  <strong>Nama penerima:</strong>
  <%= deposit.nama_penerima %>
</p>

<p>
  <strong>Rekening penerima:</strong>
  <%= deposit.rekening_penerima %>
</p>

<p>
  <strong>Jenis rekening penerima:</strong>
  <%= deposit.jenis_rekening_penerima %>
</p>

<p>
  <strong>Jenis valuta:</strong>
  <%= deposit.jenis_valuta %>
</p>
